*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
# Archivos de Android/Gradle
.gradle/
build/



# Archivos de sistema

Thumbs.db

# Archivos de logs
*.log

# Archivos de claves o configuraciones sensibles
apikeys.properties
